<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Add New Recipe</title>
</head>

<body>
  {{>header}}



<div class="container">
    <form class="w-50 my-5" action="/newrecipe" method="POST">
      <div class="mb-3">
        <div class="mb-3">
          <label for="name" class="form-label">Recipe Name</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" id="description">
      </div>
      <div class="mb-3">
        <label for="imageURL" class="form-label">Image URL</label>
        <input type="text" class="form-control" name="imageURL" id="imageURL">
      </div>
      <div class="mb-3">
        <label for="timeInMin" class="form-label">Time to Cook</label>
        <input type="text" class="form-control" name="timeInMin" id="timeInMin">
      </div>
      <div class="mb-3">
        <label for="difficulty" class="form-label">Difficulty</label>
        <input type="text" class="form-control" name="difficulty" id="difficulty">
      </div>

      <div class="mb-3" id="ingdiv1">
        <label for="ing1" class="form-label">Ingredient 1</label>
        <input type="text" class="form-control ingText" name="ingredients[]" id="ing1">
        <button type="button" id="addNewIngredient" class="btn btn-primary mt-1">Add</button>
      </div>

      {{!-- step --}}
      <div class="mb-3 stepDiv" id="stepdiv1">
        <label for="step1" class="form-label">Step 1</label>
        <input type="text" class="form-control stepText" name="steps[]" id="step1">
        <button type="button" id="addNewStep" class="btn btn-primary mt-1">Add</button>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  {{>footer}}
  <script src="/js/newrecipe.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>