<header>
    <h1>{{title}}</h1>
    <nav>
      <div class="navItem">Home</div>
      <div class="navItem">Recipes</div>
      <div class="navItem">Log In</div>
      <div class="navItem">Register</div>
    </nav>
</header>