<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container">
      <a href="/" class="navbar-brand">Recipes</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/allrecipes" class="nav-link">Browse</a>
          </li>
          {{#if user.username}}
          <li class="nav-item">
            <a href="/myaccount" class="nav-link">My Account</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Log Out</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="/register" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Log In</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>